<link rel="stylesheet" href="/multiselect-master/styles/multiselect.css">
<div class="container">
    <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#exampleModal"
        data-whatever="@getbootstrap">Add Customer</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Customers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/customers">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Customer Name</label>
                            <input type="text" class="form-control" id="recipient-name" name="customername" required>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Route</label>
                            <select name="routename" class="form-control">
                                <option value="none" selected disabled hidden>
                                    Select Route
                                </option>
                                {{#each routes}}
                                <option value='{{this.routename}}'>{{this.routename}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Mobile Number</label>
                            <input type="number" class="form-control" id="recipient-name" name="customermobile">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Products</label>
                            <select name="product" class="form-control " id="testSelect1" multiple>
                                {{#each products}}
                                <option value='{{this.productname}}'>{{this.productname}}</option>
                                {{/each}}
                            </select>

                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Add" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customers</th>
                    <th scope="col">Products</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>

            <tbody>
                {{#each customers}}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{this.customername}}</td>
                    <td>{{this.product}}
                    </td>
                    <td>{{this.customermobile}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#exampleModal" data-whatever="@getbootstrap">Edit</button>
                    </td>
                       <td>
                       <a href="/delete-customer/{{this._id}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
</div>
<script src="/multiselect-master/multiselect.min.js"></script>
<script>
    document.multiselect('#testSelect1');

</script>